@charset "UTF-8";
* {
  outline: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffffff;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition-duration: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  color: #FF0000;
  margin: 10px 0;
  text-transform: lowercase;
  font-size: 1.25em;
}

.resume .base .contact div a:hover {
  color: #FF0000;
}

.resume .base .contact div a:hover span::after {
  width: 100%;
}

.resume .base .contact div:hover i {
  color: #FF0000;
}

.resume .base .contact div i {
  color: #FF0000;
}

.resume .base .contact div span::after {
  content: "";
  position: absolute;
  background: #FF0000;
  height: 1px;
  width: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.3s;
}

.resume .base .follow .box a:hover i {
  background: #FF0000;
}

.resume .func .work ul li:hover::before,
.resume .func .edu ul li:hover::before {
  animation: circle 1.2s infinite;
}

.resume .func .work ul li:hover span,
.resume .func .edu ul li:hover span {
  color: #FF0000;
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #FF0000;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

.resume .func .skills-prog ul li:hover {
  color: #FF0000;
}

.resume .func .skills-prog ul li:hover .skills-bar .bar {
  background: #FF0000;
  box-shadow: 0 0 0 1px #FF0000;
}

.resume .func .skills-soft ul li:hover svg .cbar {
  stroke: #FF0000;
  stroke-width: 4px;
}

.resume .func .interests-items div:hover span {
  color: #FF0000;
  transition-duration: 0.3s;
}
.resume {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}

.resume .base {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.resume .base .contact,
.resume .base .follow {
  width: 50%;
}

.resume .func {
  display: flex;
  justify-content: space-between;
}

.resume .func .work,
.resume .func .edu,
.resume .func .skills-prog,
.resume .func .skills-soft,
.resume .func .interests-items {
  width: 30%;
}

.resume .func .work ul,
.resume .func .edu ul,
.resume .func .skills-prog ul,
.resume .func .skills-soft ul {
  margin: 0;
  padding: 0;
}

.resume .func .work ul li,
.resume .func .edu ul li,
.resume .func .skills-prog ul li,
.resume .func .skills-soft ul li {
  margin-bottom: 10px;
}

.resume .func .interests-items div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

